@import '../../sared/variables.scss';

.card-logo {
  .card-item-logo {
    position: relative;
    width: $width-card;
    height: $height-card;
    margin: 35px auto;
    .card-img-logo {
      width: 100%;
      height: 100%;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
    }
    .card-link-logo {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition-slow;
      border-radius: $border-radius;
      opacity: 0;
      top: 0;
      left: 0;
      &:hover {
        transition: $transition;
        background: $bg-light;
        opacity: 1;
      }
      .edit-icon {
        transition: $transition-slow;

        font-size: 40px;
        color: $edit-home-icon;
      }
    }
  }
}
