$width-card: 300px;
$height-card: 200px;
$border-radius: 8px;

$main-color: #ddd;
$primary-color: #1f080d80;
$edit-home-icon: $main-color;

$box-shadow: 0 4px 6px 0px $main-color;
$bg-light: rgba($primary-color, 0.5);

$transition-slow: all 0.7s;
$transition: all 0.5s;
